/* @override http://www.rupy.eu/style.css */

/* @override 
	http://true.pl/projekty/rupy/style.css
	http://projekty.true.pl/rupy/style.css
*/

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "facitweb-1","facitweb-2",sans-serif;
	width: 100%;
	color: #5a3812;
	min-width: 1200px;
}

.typekit-badge {
	display: none !important;
}

#previous {
	width: 180px;
	padding: 5px 10px;
	background: #fff;
	position: absolute;
	top: 0;
	font-size: 12px;
	text-align: center;	
}

#outside {
	min-width: 1200px;
	background: #c4ad84 url(background.jpg) center bottom;
}

a:link,a:visited {
	color: #094e72;
}

a:hover,a:visited:hover {
	color: #003450;
}

hr {
	clear: both;
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	border: none;
	color: transparent;
	background: transparent none;
}


.slide {
	width: 100%;
	background-color: transparent;
}

.slide > .inside {
	padding: 50px;
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

#home {
	background: url(splash.jpg) no-repeat center top;
	background: url(splash.png) no-repeat center top;
}
#home.slide > .inside {
	height: 280px;
}
#home #date {
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	left: 150px;
	top: 180px;
	width: 700px;
	font-size: 25px;
	text-align: right;
	color: #3e641a;
}
#home #sponsor {
	position: absolute;
	width: 190px;
	left: 625px;
	top: 30px;
	background: #fff;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	color: #8f0000;
	line-height: 20px;
	font-size: 16px;
}

#home #cfp {
	position: absolute;
	width: 190px;
	left: 625px;
	top: 70px;
	background: #fff;
	text-align: center;
	padding: 5px;
	text-decoration: none;	
	font-weight: 700;
	text-transform: uppercase;
	color: #8f0000;
	line-height: 20px;
	font-size: 16px;
	/* text-decoration: line-through; */
}

#home #register {
	position: absolute;
	width: 190px;
	left: 625px;
	top: 110px;
	background: #fff;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	color: #8f0000;
	line-height: 20px;
	font-size: 16px;
}

#about #twitter {
	width: 210px;
	height: 250px;
	padding: 50px;
	left: 50px;
	top: 280px;
	color: #fff;
	margin-right: 50px;
	position: absolute;
}
#about #twitter a,
#about #twitter a:hover {
	color: #fff;
}
#about #twitter h2 {
	margin: 0;
}
#about #twitter #tweets {
	height: 230px;
	overflow: hidden;
	
}

#about #twitter ul {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
	border-top: 1px dashed #3f758c;
}
#about #twitter ul li {
	padding: 10px 0;
	border-bottom: 1px dashed #3f758c;
}
#about #twitter ul li p {
	margin: 0;
}

#about {
	background: url(about.png) no-repeat center bottom;
}
#about .inside {
	height: 700px;
}
#about h3 {
	margin-top: 3em;
}

#about big {
	width: 300px;
}

#about .left.column {
	width: 400px;
	position: absolute;
	top: 120px;
	left: 400px;
}
#about .left.column ul {
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
#about .left.column ul li {
	margin-bottom: 1em;
}

#about #sponsors {
	background: #fff;
	position: absolute;
	right: 20px;
	top: -430px;
	width: 270px;
	padding-bottom: 50px;
	z-index: 999;
}

#about #sponsors h4 {
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px dashed #AAA;
	padding-bottom: 10px;
}


#about #sponsors h5 {
	font-size: 0.9em;
	text-align: center;
	text-transform: uppercase;
	background-color: #C4AD84;
	color: white;
	padding: 3px;
}

#about #sponsors ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#about #sponsors ul li {
	margin-bottom: 10px;
}

#about #sponsors img.smaller {
	width: 65px;
}

#about #sponsors img {
	width: 110px;
}

#about #sponsors img.bigger {
	width: 170px;
}

#speakers {
	background: url(speakers.png) no-repeat center top;
}
#speakers h1 {
	margin-bottom: 60px;
	color: #fff;
}
#speakers big {
	display: block;
	font-weight: 600;
	margin-bottom: 200px;
	margin-top: -50px;
}
#speakers .speaker {
	margin-bottom: 50px;
}
#speakers .left {
	width: 450px;
	float: left;
	margin-right: 200px;
	text-align: right;
}
#speakers .right {
	width: 450px;
	float: left;
}
#speakers .speaker.right {
}
#speakers .speaker h2 {
	color: #394a08;
	font-size: 24px;
	margin: 0 0 10px;
	letter-spacing: -1px;
	text-shadow: #eadcc6 0 1px 0;
}
#speakers .speaker h3 {
	color: #394a08;
	text-shadow: #eadcc6 0 1px 0;
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 20px;
	list-style-position: inside;
}
#speakers .speaker .img {
	width: 150px;
	height: 150px;
	border: 5px solid #fff;
	overflow: hidden;
}
#speakers .left .speaker .img {
	float: right;
	margin-left: 20px;
}
#speakers .right .speaker .img {
	float: left;
	margin-right: 20px;
}
#speakers .speaker .web {
	margin-bottom: 10px;
}
#speakers .speaker .web a {
	background: #fff;
	padding: 2px 10px;
	border-radius: 15px;
	text-decoration: none;
	color: #06567f;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
}

#speakers .speaker .twitter a {
	text-decoration: none;
	color: #06567f;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	display: inline-block;
	padding-right: 12px;
	background: url(tweet_1_2.png) no-repeat top right;
}
#speakers .speaker .twitter a span {
	display: inline-block;
	background: url(tweet_1_1.png) no-repeat top left;
	line-height: 20px;
	padding-left: 45px;
	padding-bottom: 20px;
}

#speakers .left .speaker .twitter a {
	padding-right: 0;
	padding-left: 12px;
	background: url(tweet_2_1.png) no-repeat top left;
}
#speakers .left .speaker .twitter a span {
	background: url(tweet_2_2.png) no-repeat top right;
	padding-left: 0;
	padding-right: 50px;
}

#venue {
	background: url(venue.png) no-repeat center top;
	height: 500px;
}

#venue .map {
	border: 10px solid #417e23;
	height: 350px;
}

#venue .poznan.left {
	float: left;
	color: #fff;
	width: 460px;
	margin-right: 180px;

}

#venue .right.poznan {
	float: left;
	margin-top: 0;
}
#venue .poznan h2 {
	font-size: 30px;
	margin: 1.5em 0 0.5em;
}

#venue .poznan p {
	margin: 0;
	font-size: 15px;
}
.travel.info  {
	clear: both;
	background: url(travelinfo.png) no-repeat center top;
}
.travel.info .inside {
	padding-bottom: 0;
	padding-top: 100px;
}

.travel.info .inside .border {
	padding-bottom: 50px;
	border-bottom: 10px solid #fff;

}

.travel.info .column {
	float: left;
	width: 320px;
}
.travel.info .column.middle {
	margin: 10px 70px;
}



#accomodation {
	background: url(accomodation.png) no-repeat center 50px;
}

#accomodation .inside  {
	padding-top: 150px;
}
#accomodation .column {
	float: left;
	width: 320px;
}
#accomodation .column.middle {
	margin: 0px 70px;
}

#accomodation h3 {
	color: #3E641A;
	text-transform: uppercase;
}

#workshops .inside {
	background: url(workshops.png) no-repeat center 50px;
	padding-top: 180px;

}

#workshops .workshop {
	background: #fff;
	padding: 30px;
	margin-bottom: 10px;
}

.clear {
	clear: both;
	font-size: 1px;
}

#workshops .workshop .img {
	background: url(background.jpg);
	width: 150px;
	height: 150px;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
	clear: both;
}
#workshops .workshop h3 {
	margin: 0;
	margin-left: 200px;
	color: #806d4d;
}
#workshops .workshop h2 {
	margin: 0;
	margin-left: 200px;
	text-transform: uppercase;
	color: #33631a;
}
#workshops .workshop p {
	margin-left: 200px;
}
#workshops .workshop h5 {
	margin: 0;
	margin-left: 200px;
	margin-bottom: 12px;
}
#workshops .workshop ol {
	margin: 0;
	margin-left: 200px;
}



.no.top.margin {
	margin-top: 0 !important;
}


h1 {
	font-size: 64px;
	font-weight: 800;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: -3px;
}

big {
	display: block;
}

.column {
	float: left;
}

#menu{
	background: rgba(255,255,255,0.9);
}
#menu > .inside {
	padding: 0 50px;
	width: 1100px;
	margin: 0 auto;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0 0;
	text-align: center;
	width: 800px;
}
#menu li {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
#menu li a {
	display: block;
	padding: 10px 15px;
	font-size: 20px;
	color: #094e72;
	text-decoration: none;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

#footer {
	padding-bottom: 50px;
}


#footer #top {
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#footer #true,
#footer #true2 {
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	color: #796847;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	margin-top: 200px;
}
#footer #true2 {
	margin-top: 50px;
}

